<style>
    <!-- critical css -->
    body{color:#202020}
    .container {
        margin: 0 auto;
        max-width: 740px;
        padding: 0 10px;
        width: 100%;
    }
    a {
        color: #4183C4;
        text-decoration: none;
        cursor: pointer;
    }
    .site-avatar {
        float: left;
        width: 70px;
        height: 70px;
        margin-right: 15px;
    }
    @media screen and (max-width: 640px) {
        .masthead {
            text-align: center;
        }
        .site-avatar {
            float: none;
            display: block;
            margin: 0 auto;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.4;
        }
        .site-description {
            margin: 3px 0;
        }
        nav {
            float: none;
            margin-top: 9px;
            display: block;
            font-size: 16px;
        }
        nav a {
            margin: 0 10px;
            color: #4183C4;
        }
    }
</style>
